{% extends 'base.html' %}


{% block content %}


<div class="container mt-5">


    <h1>Shopping Cart</h1>


    <br>


    {% for item in cart_items %}


    <div class="card mb-3">


        <div class="row g-0">


            <!-- Product Image -->
            <div class="col-md-4">


                <img src="{{ item.product.image.url }}"
                     class="img-fluid rounded-start"
                     style="height: 250px; width: 100%; object-fit: cover;">


            </div>




            <!-- Product Details -->
            <div class="col-md-8">


                <div class="card-body">


                    <h5 class="card-title">
                        {{ item.product.name }}
                    </h5>




                    <p class="card-text">
                        {{ item.product.description }}
                    </p>




                    {% if item.product.is_sale %}


                        <strike>
                            ${{ item.product.price }}
                        </strike>


                        &nbsp;


                        ${{ item.product.sale_price }}


                    {% else %}


                        ${{ item.product.price }}


                    {% endif %}




                    <br><br>




                    <!-- Quantity -->
                    <div class="row">


                        <div class="col-md-2">
                            Quantity
                        </div>


                        <div class="col-md-3">


                            <select class="form-select"
                                    id="select{{ item.product.id }}">


                                {% for i in "12345678910" %}


                                    <option value="{{ forloop.counter }}"
                                        {% if item.quantity == forloop.counter %}
                                            selected
                                        {% endif %}>


                                        {{ forloop.counter }}


                                    </option>


                                {% endfor %}


                            </select>


                        </div>


                    </div>




                    <br>




                    <!-- Buttons -->


                    <button type="button"
                            data-index="{{ item.product.id }}"
                            class="btn btn-secondary update-cart">


                        Update


                    </button>




                    <button type="button"
                            data-index="{{ item.product.id }}"
                            class="btn btn-danger delete-cart">


                        Remove


                    </button>


                </div>


            </div>


        </div>


    </div>


    {% endfor %}


</div>




<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>




<script>


    // UPDATE CART
    $(document).on('click', '.update-cart', function(e) {


        e.preventDefault();


        var productid = $(this).data('index');


        var productqty = $('#select' + productid).val();




        $.ajax({


            type: 'POST',


            url: "{% url 'cart_update' %}",


            data: {


                product_id: productid,


                product_qty: productqty,


                csrfmiddlewaretoken: '{{ csrf_token }}'


            },


            success: function(json) {


                console.log("Cart updated successfully");


                location.reload();


            },


            error: function(xhr, errmsg, err) {


                console.log(xhr.responseText);


            }


        });


    });






    // DELETE CART ITEM
    $(document).on('click', '.delete-cart', function(e) {


        e.preventDefault();


        var productid = $(this).data('index');




        $.ajax({


            type: 'POST',


            url: "{% url 'cart_delete' %}",


            data: {


                product_id: productid,


                csrfmiddlewaretoken: '{{ csrf_token }}'


            },


            success: function(json) {


                console.log("Product removed");


                location.reload();


            },


            error: function(xhr, errmsg, err) {


                console.log(xhr.responseText);


            }


        });


    });


</script>


{% endblock %}

